/* Hoja de estilos de la pagina principal */
body{
        background-color: antiquewhite;
}
.title{ font-family: "Shrikhand", serif;
        font-weight: 400;
        font-size: 200%;
        font-style: normal;    
        display: flex;
        justify-content: center; 
        color: brown; 
}
.general{
        font-size: 16px;
        font-family: 'Times New Roman', Times, serif;
        display: flex;
        justify-content: center;
}
.menu-principal{
display: flex;
flex-direction: column;
/*Animacion links*/
        /* unvisited link */
        a:link {}

        /* visited link */
        a:visited {}

        /* mouse over link */
        a:hover {}

        /* selected link */
        a:active {}
}
.ubicacion{
        display: flex;
        flex-direction: column;
        justify-content: center;
        font-size: 16px;
        font-family: 'Times New Roman', Times, serif;
}
.img-ubi{
        display: flex;
        align-items: center;
        justify-content: center;
}
.img-ubi img{
  display: block;
  max-width: 80%;    
  width: 100%;
  height: auto;
  border-radius: 6px; /* opcional: estética */
  box-shadow: 0 2px 6px rgba(0,0,0,0.15);
}
.ubicacion a{
        display: flex;
        justify-content: center;
}
.cuestionario{
        display: flex;
        flex-direction: row;
        justify-content: center;
}
.cuestionario h2{
        display: flex;
        flex-direction: row;
        justify-content: center;
        background-color: burlywood;
}
.cuestionario form{
        display: flex;
        flex-direction: row;
        justify-content: center;
        background-color: burlywood;
}
.footer{
        display: flex;
        justify-content: center;
        font-size: 16px;
        font-family: 'Times New Roman', Times, serif;
}

